name: Deploy npm

on:
  workflow_call:
    inputs:
      node-version:
        default: "20"
        description: The node version to use
        required: false
        type: string
    secrets:
      github-token:
        description: "The github token"
        required: true
      npm-token:
        description: "The npm deploy token"
        required: true

jobs:
  deploy-npm:
    runs-on: ubuntu-24.04
    env:
      TERM: xterm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install node ${{ inputs.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile
      - name: Lint code
        run: npm run lint
      - name: Run unit tests
        run: npm run test:unit
      - name: Update release helpers
        shell: bash
        run: |
          if [[ ${{ github.event.release.tag_name }} == v3* ]]; then
            echo "${{ github.event.release.tag_name }}" > release-aliases/3-EDGE
            if [ "${{ github.event.release.prerelease }}" == "false" ]; then
              echo "${{ github.event.release.tag_name }}" > release-aliases/3-STABLE
            fi
          fi
      - name: Prepare Release
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          sync-token: ${{ secrets.github-token }}
          sync-email: rtfm47@lando.dev
          sync-username: rtfm-47
      - name: Publish to npm
        run: |
          VERSION=$(node -p "require('./package.json').version")
          PACKAGE=$(node -p "require('./package.json').name")

          if [ "${{ github.event.release.prerelease }}" ==  "false" ]; then
            npm publish --access public --dry-run
            npm publish --access public
            npm dist-tag add "$PACKAGE@$VERSION" edge

            echo "::notice title=Published $VERSION to $PACKAGE::This is a stable release published to the default 'latest' npm tag"
            echo "::notice title=Updated latest tag to $VERSION::The stable tag now points to $VERSION"
            echo "::notice title=Updated edge tag to $VERSION::The edge tag now points to $VERSION"
          else
            npm publish --access public --tag edge --dry-run
            npm publish --access public --tag edge

            echo "::notice title=Published $VERSION to $PACKAGE::This is a prerelease published to the 'edge' npm tag"
            echo "::notice title=Updated edge tag to $VERSION::The edge tag now points to $VERSION"
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm-token }}
      - name: Trigger docs builds
        if: github.event.release.target_commitish == 'edge'
        run: |
          git clone https://github.com/lando/core.git core
          cd core
          git config user.name "rtfm-47"
          git config user.email "rtfm47@lando.dev"
          git commit -m "auto docs release ${{ github.event.release.tag_name }} triggered by @rtfm-47" --allow-empty
          git push https://x-access-token:${{ secrets.github-token }}@github.com/lando/core.git main
