name: Create Dev Releases

on:
  push:
    branches:
      - main
      - 'preview-**'

jobs:
  package:
    uses: ./.github/workflows/pkg-binary.yml
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - arm64
        os:
          - linux
          - macos
          - win
        fatcore:
          - false
          - true
    with:
      arch: ${{ matrix.arch }}
      edge: true
      fatcore: ${{ matrix.fatcore }}
      filename: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ github.sha }}${{ matrix.fatcore == false && '-slim' || '' }}
      node-version: "20"
      os: ${{ matrix.os }}
      version: dev

  sign:
    uses: ./.github/workflows/sign-binary.yml
    needs:
      - package
    strategy:
      fail-fast: false
      matrix:
        file:
          - lando-linux-arm64-${{ github.sha }}
          - lando-macos-arm64-${{ github.sha }}
          - lando-win-arm64-${{ github.sha }}

          - lando-linux-x64-${{ github.sha }}
          - lando-macos-x64-${{ github.sha }}
          - lando-win-x64-${{ github.sha }}

          - lando-linux-arm64-${{ github.sha }}-slim
          - lando-macos-arm64-${{ github.sha }}-slim
          - lando-win-arm64-${{ github.sha }}-slim

          - lando-linux-x64-${{ github.sha }}-slim
          - lando-macos-x64-${{ github.sha }}-slim
          - lando-win-x64-${{ github.sha }}-slim
    with:
      download-pattern: packaged-lando-*
      file: ${{ matrix.file }}
    secrets:
      apple-notary-user: ${{ secrets.APPLE_NOTARY_USER }}
      apple-notary-password: ${{ secrets.APPLE_NOTARY_PASSWORD }}
      certificate-data: ${{ contains(matrix.file, 'macos') && secrets.APPLE_CERT_DATA || secrets.KEYLOCKER_CLIENT_CERT }}
      certificate-password: ${{ contains(matrix.file, 'macos') && secrets.APPLE_CERT_PASSWORD || secrets.KEYLOCKER_CLIENT_CERT_PASSWORD }}
      keylocker-api-key: ${{ secrets.KEYLOCKER_API_KEY }}
      keylocker-cert-sha1-hash: ${{ secrets.KEYLOCKER_CERT_SHA1_HASH }}
      keylocker-keypair-alias: ${{ secrets.KEYLOCKER_KEYPAIR_ALIAS }}

  build-release-binary-alias:
    uses: ./.github/workflows/release-rename-binary.yml
    needs:
      - sign
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - arm64
        os:
          - linux
          - macos
          - win
        type:
          - -slim
          -
        alias:
          - dev
          - latest
    with:
      source: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ github.sha }}${{ matrix.type }}
      destination: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.alias }}${{ matrix.type }}
      download-pattern: signed-lando-*
  build-release-binary-branch:
    uses: ./.github/workflows/release-rename-binary.yml
    needs:
      - sign
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - arm64
        os:
          - linux
          - macos
          - win
        type:
          - -slim
          -
    with:
      source: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ github.sha }}${{ matrix.type }}
      destination: lando-${{ matrix.os }}-${{ matrix.arch }}-${{ github.head_ref || github.ref_name }}${{ matrix.type }}
      download-pattern: signed-lando-*

  checksum:
    uses: ./.github/workflows/generate-checksums.yml
    needs:
      - build-release-binary-alias
      - build-release-binary-branch
    with:
      download-pattern: release-*
      flatten: true
      show: true
      upload-name: release-checksums-${{ github.sha }}

  deploy-releases-s3:
    uses: ./.github/workflows/deploy-s3.yml
    needs:
      - checksum
    with:
      download-pattern: release-*
    secrets:
      aws-secret-access-key: ${{ secrets.S3_SECRET_ACCESS_KEY }}
      aws-access-key-id: ${{ secrets.S3_ACCESS_KEY_ID }}
      aws-region: us-east-1
  deploy-releases-artifacts:
    uses: ./.github/workflows/deploy-artifacts.yml
    needs:
      - checksum
    with:
      download-pattern: release-*
