name: Core Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
      GITHUB_PAT: ${{ secrets.PIROG_TOKEN }}
      GITHUB_KEY_NAME: "${{ github.sha }}${{ matrix.docker-compose-version }}"
    strategy:
      fail-fast: false
      matrix:
        docker-compose-version:
          - "1.29.1"
          - "2.21.0"
        healthcheck:
          - new
        lando-version:
          - 3-dev
        leia-test:
          - examples/badname
          - examples/base
          - examples/events
          - examples/init-github
          - examples/init-remote
          - examples/keys
          - examples/l337
          - examples/landofile-custom
          - examples/long-name
          - examples/no-services
          - examples/orchestrator
          - examples/proxy
          - examples/services
          - examples/tooling
        node-version:
          - "16"
        os:
          - ubuntu-22.04
        scanner:
          - new

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_KEY }}
          known_hosts: unnecessary
          if_key_exists: replace
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v2
        with:
          lando-version: ${{ matrix.lando-version }}
          config: |
            orchestratorVersion=${{ matrix.docker-compose-version }}
            plugins.@lando/core=/home/runner/work/core/core
          telemetry: false
      - name: Verify Lando works and we are dogfooding this plugin for tests
        run: |
          # TODO: once we have the new plugin stuff in the CLI we can remove this in favor of a local lando pa
          # what about removing the plugins?
          mkdir -p /home/runner/.lando/plugins/@lando
          ln -sf /home/runner/work/core/core /home/runner/.lando/plugins/@lando/core

          lando --clear
          lando config
          lando config --path plugins --format json | jq -r '.[] | select(.name == "@lando/core").searchDir' | grep /home/runner/work/core/core || (echo "::error:: Not dogfooding this plugin correctly!" && exit 1)
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        env:
          LANDO_SCANNER: ${{ matrix.scanner }}
          LANDO_HEALTHCHECK: ${{ matrix.new }}
        with:
          leia-test: "./${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: bash
          stdin: true
