name: Core Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        docker-compose-version:
          - "1.29.1"
          - "2.21.0"
        healthcheck:
          - new
        lando-version:
          - 3-dev
        leia-test:
          - examples/badname
          - examples/base
          - examples/events
          - examples/healthcheck
          - examples/init-remote
          - examples/keys
          - examples/l337
          - examples/lando-101
          - examples/landofile-custom
          - examples/long-name
          - examples/networking
          - examples/no-services
          - examples/orchestrator
          - examples/proxy
          - examples/scanner
          - examples/services
          - examples/tooling
        node-version:
          - "16"
        os:
          - ubuntu-22.04
        scanner:
          - new
        include:
          - docker-compose-version: "2.21.0"
            healthcheck: new
            node-version: "16"
            lando-version: 3-dev
            leia-test: examples/scanner
            os: ubuntu-22.04
            scanner: legacy
          - docker-compose-version: "2.21.0"
            healthcheck: legacy
            node-version: "16"
            lando-version: 3-dev
            leia-test: examples/healthcheck
            os: ubuntu-22.04
            scanner: new

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v2
        with:
          lando-version: ${{ matrix.lando-version }}
          config: |
            plugins.@lando/core=/home/runner/work/core/core
            orchestratorVersion=${{ matrix.docker-compose-version }}
          telemetry: false
      - name: Verify Lando works and we are dogfooding this plugin for tests
        run: |
          mkdir -p /home/runner/.lando/plugins/@lando
          ln -sf /home/runner/work/core/core /home/runner/.lando/plugins/@lando/core
          lando --clear
          lando version
          lando config --path plugins | grep lando-core | grep /home/runner/.lando/plugins/@lando/core || (echo "::error:: Not dogfooding this plugin correctly!" && exit 1)
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        env:
          LANDO_SCANNER: ${{ matrix.scanner }}
          LANDO_HEALTHCHECK: ${{ matrix.new }}
        with:
          leia-test: "./${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: bash
          stdin: true
