name: Core Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        lando-version:
          # - 3-slim
          # uncomment to test against bleeding edge cli
          - 3-dev-slim
        leia-test:
          - badname
          # - build
          # - cache
          # - certs
          - config
          - debug
          - envfile
          # - environment
          - events
          # - exec
          - experimental
          - healthcheck
          - info
          - init-github
          - init-remote
          - keys
          - l337
          - lando-v4
          - landofile
          - landofile-custom
          - list
          - logs
          - long-name
          - networking
          - no-services
          - orchestrator
          - plugins
          - proxy
          - rebuild
          - recipes
          - release-channel
          - restart
          - scanner
          # - security
          - services
          - sql-helpers
          - ssh
          - tooling
          - update
          - version
        node-version:
          - "18"
        os:
          # - macos-13
          # - macos-14
          - ubuntu-22.04
          # - windows-2022
        shell:
          - bash

        # TODO: includes for also running windows tests on cmd/powershell?

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_KEY }}
          known_hosts: unnecessary
          if_key_exists: replace
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile
      # bundle deps is needed so local plugin installation succeeds
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      # note that we need a custom auto-setup command because dogfooding core can impact the
      # subsequent lando setup
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v3
        with:
          auto-setup: lando plugin-add @lando/core@file:${{ github.workspace }} && lando setup
          lando-version: ${{ matrix.lando-version }}
          telemetry: false
          config: |
            setup.skipCommonPlugins=true
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        env:
          GITHUB_PAT: ${{ secrets.KYBER_AMPLIFICATION_MATRIX }}
          GITHUB_KEY_NAME: "${{ github.sha }}${{ matrix.os }}"
        with:
          leia-test: "./examples/${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: ${{ matrix.shell }}
          stdin: true
