name: Run Docs Tests

on:
  pull_request:

jobs:
  docs-tests:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        node-version:
          - "20"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Cache version builds
        uses: actions/cache@v4
        with:
          key: lando-mvb-docs
          path: docs/.vitepress/cache/@lando/mvb
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile

      # Run tests
      - name: Run linter
        run: npm run lint
      - name: Test mvb
        run: npm run docs:mvb
      - name: Test build
        run: npm run docs:build

  lando-docs-tests:
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: "@lando/*"
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        node-version:
          - "20"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Install pkg dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile --production
      - name: Package into node binary
        uses: lando/pkg-action@v6
        id: pkg-action
        with:
          entrypoint: bin/lando
          filename: lando
          node-version: ${{ matrix.node-version }}
          options: --options dns-result-order=ipv4first
          upload: false
          pkg: "@yao-pkg/pkg@6.4.0"
      - name: Install full deps
        run: npm clean-install --prefer-offline --frozen-lockfile
      - name: Setup lando ${{ steps.pkg-action.outputs.file }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ steps.pkg-action.outputs.file }}
          telemetry: false
          config: |
            setup.skipCommonPlugins=true
      - name: Lando tests
        run: |
          lando start
          lando vitepress build docs
