name: Plugin Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
      GITHUB_PAT: ${{ secrets.PIROG_TOKEN }}
      GITHUB_KEY_NAME: "${{ github.sha }}${{ matrix.docker-compose-version }}"
    strategy:
      fail-fast: false
      matrix:
        docker-compose-version:
          - "1.29.1"
          - "2.21.0"
        healthcheck:
          - new
        lando-version:
          - 3-dev
        leia-test:
          - examples/healthcheck
          # - examples/networking
          # - examples/proxy
          # - examples/scanner
        node-version:
          - "16"
        os:
          - ubuntu-22.04
        scanner:
          - new
        include:
          # run legacy scanner checks on dc2
          - docker-compose-version: "2.21.0"
            healthcheck: new
            node-version: "16"
            lando-version: 3-dev
            leia-test: examples/scanner
            os: ubuntu-22.04
            scanner: legacy
          # run legacy healthchecks on dc2
          - docker-compose-version: "2.21.0"
            healthcheck: legacy
            node-version: "16"
            lando-version: 3-dev
            leia-test: examples/healthcheck
            os: ubuntu-22.04
            scanner: new

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v2
        with:
          lando-version: ${{ matrix.lando-version }}
          config: |
            orchestratorVersion=${{ matrix.docker-compose-version }}
          telemetry: false
      - name: Verify Lando works and we are dogfooding this plugin for tests
        run: |
          mkdir -p /home/runner/.lando/plugins/@lando
          ln -sf /home/runner/work/core/core /home/runner/.lando/plugins/@lando/core
          lando --clear
          lando config
          lando config --path plugins --format json | jq -r '.[] | select(.name == "@lando/core").searchDir' | grep /home/runner/work/core/core || (echo "::error:: Not dogfooding this plugin correctly!" && exit 1)
          lando config --path plugins --format json | jq -r '.[] | select(.name == "@lando/networking").searchDir' | grep /home/runner/work/core/core/plugins/networking || (echo "::error:: Not dogfooding this plugin correctly!" && exit 1)
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        env:
          LANDO_SCANNER: ${{ matrix.scanner }}
          LANDO_HEALTHCHECK: ${{ matrix.new }}
        with:
          leia-test: "./${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: bash
          stdin: true
