name: Setup macOS Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        lando-version:
          - 3-slim
          # uncomment to test against bleeding edge cli
          # - 3-dev-slim
        leia-test:
          - examples/setup-macos
        node-version:
          - "18"
        os:
          - macos-13
          - macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile
      # bundle deps is needed so local plugin installation succeeds
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v3
        with:
          auto-setup: false
          lando-version: ${{ matrix.lando-version }}
          telemetry: false

      - name: Lando Setu
        shell: bash
        run: |
          lando plugin-add "@lando/core@file:../.."
          # brew uninstall --force --ignore-dependencies docker-desktop
          # brew list --versions docker-desktop || echo $? | grep 1
          lando config
          lando --clear
          lando config
          lando setup -y --skip-networking --debug

      # - name: Run Leia Tests
      #   uses: lando/run-leia-action@v2
      #   with:
      #     leia-test: "./${{ matrix.leia-test }}/README.md"
      #     cleanup-header: "Destroy tests"
      #     shell: bash
      #     stdin: true
